node_modules/
.next/
out/
.env*.local
.DS_Store
*.pem
npm-debug.log*
.vercel
.netlify
next-env.d.ts
nextjs-export/*
thomascrowehero/components/TopoCanvas.tsx
thomascrowehero/components/Hero.tsx
thomascrowehero/.claude/settings.local.json
thomascrowehero/README.md
